## <font color="purple"><h4 align="center">Read/Write CSV and Excel Files in Pandas</font>

### <font color="blue">Read CSV</color>

In [29]:
import pandas as pd
## Read a CSV file into a DataFrame
df = pd.read_csv("stock_data.csv")
df

,Datasource: Google finance,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,tickers,eps,revenue,price,people
1,GOOGL,27.82,87,845,larry page
2,WMT,4.61,484,65,n.a.
3,MSFT,-1,85,64,bill gates
4,RIL,not available,50,1023,mukesh ambani
5,TATA,5.6,-1,n.a.,ratan tata

In [30]:
## Read a CSV file with a specific header row and custom column names
df = pd.read_csv("stock_data.csv", skiprows=1)
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [31]:
df = pd.read_csv("stock_data.csv", header=1) # skiprows and header are kind of same
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [32]:
## rename columns while reading
df = pd.read_csv("stock_data.csv", header=1, names=["stock_symbol", "eps", "revenue", "price", "people"])
df

  stock_symbol            eps  revenue price         people
0        GOOGL          27.82       87   845     larry page
1          WMT           4.61      484    65           n.a.
2         MSFT             -1       85    64     bill gates
3         RIL   not available       50  1023  mukesh ambani
4         TATA            5.6       -1  n.a.     ratan tata

In [33]:
# Read only the first 2 rows from the CSV file, using the second row as the header (header=1).
# This is useful when you want to preview or process just a subset of the data.
df = pd.read_csv("stock_data.csv",  nrows=2, header=1) 
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.

In [34]:
## Read a CSV file with custom NA values
df = pd.read_csv("stock_data.csv",  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.']
    }, header=1)
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [35]:
## Read a CSV file with multiple NA values
df = pd.read_csv("stock_data.csv", na_values=["n.a.", "not available"], header=1)
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

### <font color="blue">Write to CSV</color>

In [36]:
import numpy as np
np.divide(1,0)

C:\Users\Suraj Khodade\AppData\Local\Temp\ipykernel_23040\435273397.py:2: RuntimeWarning: divide by zero encountered in divide
  np.divide(1,0)

np.float64(inf)

In [37]:
import numpy as np

def safe_divide(x, y):
    if pd.isna(x) or pd.isna(y):
        return np.nan
    return np.divide(float(x),float(y))

In [43]:
df["pe"] = df.apply(lambda x: safe_divide(x["price"], x["eps"]), axis=1)
df

  tickers    eps  revenue   price         people         pe
0   GOOGL  27.82       87   845.0     larry page  30.373832
1     WMT   4.61      484    65.0            NaN  14.099783
2    MSFT  -1.00       85    64.0     bill gates -64.000000
3    RIL     NaN       50  1023.0  mukesh ambani        NaN
4    TATA   5.60       -1     NaN     ratan tata        NaN

In [44]:
df.to_csv("pe.csv", index=False)

In [45]:
df.to_csv("pe1.csv",header=False)

In [46]:
df.to_csv("pe2.csv", columns=["tickers","price"], index=False)

### <font color="blue">Read Excel</color>

In [42]:
# make sure you run "pip install openpyxl" before running below
df_movies = pd.read_excel("movies_db.xlsx", "movies")
df_movies.head(4)

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
df_financials = pd.read_excel("movies_db.xlsx", "financials")
df_financials.head(5)

In [ ]:
def standardize_currency(curr):
    if curr == '$$' or curr == 'Dollars':
        return "USD"
    return curr

df_financials = pd.read_excel("movies_db.xlsx", "financials", converters = {
    'currency': standardize_currency
})
df_financials.head(5)

### The internet is your second brain. ChatGPT is new ability of your second brain

In [ ]:
df_merged = pd.merge(df_movies, df_financials, on="movie_id")
df_merged.head(5)

### <font color="blue">Write to Excel</color>

In [ ]:
df_merged.to_excel("movies_merged.xlsx", sheet_name="Sheet1", index=False)

**Write two dataframes to two separate sheets in excel**

In [ ]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [ ]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")